.cabecalho {
  align-items: center;
  background-color: var(--cor-secundaria);
  color: var(--cor-terciaria);
  display: flex;
  font-size: 1.8rem;
  justify-content: space-around;
  padding: 1.6rem  0;
  text-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.7);
  width: 100%;
}

.cabecalho__container {
  align-items: center;
  display: flex;
}

.cabecalho__logo {
  width: 10rem;
}

.cabecalho__link {
  color: var(--cor-terciaria);
  padding: 1.2rem .8rem;
  text-decoration: none;
}

.cabecalho__link:hover {
  background-color: var(--cor-terciaria);
  border-radius: 1.6rem;
  color: var(--cor-escura);
  text-shadow: none;
}

.cabecalho__login__input {
  width: 30%;
}

.cabecalho__login__submit {
  background-color: var(--cor-terciaria);
  border: 1px solid var(--cor-escura);
  border-radius: 1rem;
  color: var(--cor-escura);
  padding: .5rem;
}

.cabecalho__login__submit:hover {
  background-color: var(--cor-escura);
  border: 1px solid var(--cor-terciaria);
  color: var(--cor-terciaria);
}

.cabecalho__carrinho {
  margin-left: 1rem;
  width: 3rem;
}
