.produtos{
  background-color: var(--cor-primaria);
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  justify-content: center;
  padding: 3rem;
  width: 100%;
}

.produtos__card {
  align-items: center;
  background-color: var(--cor-terciaria);
  border-radius: .5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
  color: var(--cor-secundaria);
  display: flex;
  flex-direction: column;
  min-width: 30%;
  padding:1.6rem;
}

.produtos__card__titulo {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
  text-align: center;
  text-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.7);
}

.produtos__card__imagem {
  margin-bottom: 1.6rem;
  width: 18rem;
}

.produtos__card__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.produtos__card__preco {
  font-size: 2.4rem;
  text-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.7);
}

.produtos__card__botao {
  background-color: var(--cor-secundaria);
  border: .1rem solid var(--cor-escura);
  border-radius: 1.6rem;
  color: var(--cor-terciaria);
  font-size: 1.8rem;
  height: 80%;
  padding: .3rem;
  text-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.7);
  width: 60%;
}

.produtos__card__botao:hover {
  background-color: var(--cor-primaria);
  color: var(--cor-clara);
}
