@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

@import url(cabecalho.css);
@import url(produtos.css);
@import url(sobre.css);
@import url(rodape.css);

:root {
  --cor-primaria: #0a6aa6;
  --cor-secundaria: #a60505;
  --cor-terciaria: #f2c335;
  --cor-escura: #000;
  --cor-clara: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bangers", system-ui;
  font-size: 62.5%;
}
