.sobre {
  background-color: var(--cor-primaria);
  padding: 3rem 1rem;
}

.sobre__coluna {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.sobre__imagem {
  width: 100%;
}

.sobre__texto {
  color: var(--cor-escura);
  font-size: 3rem;
  margin: 3rem 0;
  text-align: center;
  text-shadow: 1px 1px 2px var(--cor-clara);
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .sobre__texto {
    font-size: 4rem;
  }
}

@media (min-width: 992px) {
  .sobre__texto {
    font-size: 5rem;
  }
}
